.fib {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.fi:before {
  content: '\00a0';
}
.fi.fis {
  width: 1em;
}
.fi-kr {
  background-image: url(../flags/4x3/kr.svg);
}
.fi-kr.fis {
  background-image: url(../flags/1x1/kr.svg);
}
.fi-ru {
  background-image: url(../flags/4x3/ru.svg);
}
.fi-ru.fis {
  background-image: url(../flags/1x1/ru.svg);
}
.fi-vn {
  background-image: url(../flags/4x3/vn.svg);
}
.fi-vn.fis {
  background-image: url(../flags/1x1/vn.svg);
}
.fi-ac {
  background-image: url(../flags/4x3/ac.svg);
}
.fi-ac.fis {
  background-image: url(../flags/1x1/ac.svg);
}
.fi-cp {
  background-image: url(../flags/4x3/cp.svg);
}
.fi-cp.fis {
  background-image: url(../flags/1x1/cp.svg);
}
.fi-dg {
  background-image: url(../flags/4x3/dg.svg);
}
.fi-dg.fis {
  background-image: url(../flags/1x1/dg.svg);
}
.fi-ea {
  background-image: url(../flags/4x3/ea.svg);
}
.fi-ea.fis {
  background-image: url(../flags/1x1/ea.svg);
}
.fi-es-ct {
  background-image: url(../flags/4x3/es-ct.svg);
}
.fi-es-ct.fis {
  background-image: url(../flags/1x1/es-ct.svg);
}
.fi-es-ga {
  background-image: url(../flags/4x3/es-ga.svg);
}
.fi-es-ga.fis {
  background-image: url(../flags/1x1/es-ga.svg);
}
.fi-eu {
  background-image: url(../flags/4x3/eu.svg);
}
.fi-eu.fis {
  background-image: url(../flags/1x1/eu.svg);
}
.fi-gb-eng {
  background-image: url(../flags/4x3/gb-eng.svg);
}
.fi-gb-eng.fis {
  background-image: url(../flags/1x1/gb-eng.svg);
}
.fi-gb-nir {
  background-image: url(../flags/4x3/gb-nir.svg);
}
.fi-gb-nir.fis {
  background-image: url(../flags/1x1/gb-nir.svg);
}
.fi-gb-sct {
  background-image: url(../flags/4x3/gb-sct.svg);
}
.fi-gb-sct.fis {
  background-image: url(../flags/1x1/gb-sct.svg);
}
.fi-gb-wls {
  background-image: url(../flags/4x3/gb-wls.svg);
}
.fi-gb-wls.fis {
  background-image: url(../flags/1x1/gb-wls.svg);
}
.fi-ic {
  background-image: url(../flags/4x3/ic.svg);
}
.fi-ic.fis {
  background-image: url(../flags/1x1/ic.svg);
}
.fi-ta {
  background-image: url(../flags/4x3/ta.svg);
}
.fi-ta.fis {
  background-image: url(../flags/1x1/ta.svg);
}
.fi-un {
  background-image: url(../flags/4x3/un.svg);
}
.fi-un.fis {
  background-image: url(../flags/1x1/un.svg);
}
.fi-xk {
  background-image: url(../flags/4x3/xk.svg);
}
.fi-xk.fis {
  background-image: url(../flags/1x1/xk.svg);
}
.fi-xx {
  background-image: url(../flags/4x3/xx.svg);
}
.fi-xx.fis {
  background-image: url(../flags/1x1/xx.svg);
}
